In [1]:
# Import library numpy, pandas dan scikit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
# Membaca Dataset dari File ke Pandas dataFrame
irisDataset = pd.read_csv('Dataset Iris.csv', delimiter=';', header=0)

In [3]:
irisDataset.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.00,2.05,3.01,1.01,Iris-virginica
1,2,5.01,2.01,3.02,1.02,Iris-virginica
2,3,5.02,2.02,3.03,1.03,Iris-virginica
3,4,5.03,2.03,3.04,1.04,Iris-virginica
4,5,5.04,2.04,3.05,1.05,Iris-virginica

In [4]:
# Mengubah kelas (kolom "Species") dari String ke Unique-Integer
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [5]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           5.00          2.05           3.01          1.01        0
1   2           5.01          2.01           3.02          1.02        0
2   3           5.02          2.02           3.03          1.03        0
3   4           5.03          2.03           3.04          1.04        0
4   5           5.04          2.04           3.05          1.05        0

In [6]:
print(irisDataset)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0     1           5.00          2.05           3.01          1.01        0
1     2           5.01          2.01           3.02          1.02        0
2     3           5.02          2.02           3.03          1.03        0
3     4           5.03          2.03           3.04          1.04        0
4     5           5.04          2.04           3.05          1.05        0
..  ...            ...           ...            ...           ...      ...
95   96           5.04          3.00           3.05          1.07        1
96   97           6.03          3.00           3.00          1.00        1
97   98           5.00          2.00           4.07          2.00        1
98   99           7.06          2.01           2.00          1.09        1
99  100           6.08          2.00           3.01          2.05        1

[100 rows x 6 columns]

In [7]:
# Menghapus kolom "Id"
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [8]:
print(irisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.00          2.05           3.01          1.01        0
1            5.01          2.01           3.02          1.02        0
2            5.02          2.02           3.03          1.03        0
3            5.03          2.03           3.04          1.04        0
4            5.04          2.04           3.05          1.05        0
..            ...           ...            ...           ...      ...
95           5.04          3.00           3.05          1.07        1
96           6.03          3.00           3.00          1.00        1
97           5.00          2.00           4.07          2.00        1
98           7.06          2.01           2.00          1.09        1
99           6.08          2.00           3.01          2.05        1

[100 rows x 5 columns]

In [9]:
# Mengubah dataFrame ke array Numpy
irisDataset = irisDataset.to_numpy()

In [10]:
print(irisDataset)

[[5.   2.05 3.01 1.01 0.  ]
 [5.01 2.01 3.02 1.02 0.  ]
 [5.02 2.02 3.03 1.03 0.  ]
 [5.03 2.03 3.04 1.04 0.  ]
 [5.04 2.04 3.05 1.05 0.  ]
 [5.05 2.06 3.06 1.06 0.  ]
 [5.06 2.07 3.07 1.07 0.  ]
 [5.07 2.08 3.08 1.08 0.  ]
 [5.08 2.09 3.09 1.09 0.  ]
 [5.09 3.   3.   1.   1.  ]
 [6.   2.   4.01 2.   1.  ]
 [6.01 3.01 4.02 2.01 1.  ]
 [6.02 3.02 4.03 2.02 1.  ]
 [6.03 3.03 4.04 2.03 1.  ]
 [6.04 3.04 4.05 2.04 1.  ]
 [6.05 3.05 4.06 2.05 1.  ]
 [6.06 3.06 4.07 1.08 1.  ]
 [6.07 3.07 4.08 2.   1.  ]
 [6.08 3.08 4.09 1.07 1.  ]
 [6.09 3.09 4.   1.05 0.  ]
 [7.   3.   5.01 2.05 0.  ]
 [7.01 2.08 5.02 2.03 0.  ]
 [7.02 2.01 5.03 2.04 0.  ]
 [7.03 2.07 5.04 2.02 0.  ]
 [7.04 2.03 5.05 2.01 0.  ]
 [7.05 2.   5.06 1.07 0.  ]
 [7.06 3.07 5.07 1.01 0.  ]
 [7.07 3.01 5.08 1.02 0.  ]
 [7.08 3.05 5.09 1.09 0.  ]
 [7.09 2.03 5.   1.   1.  ]
 [5.02 2.09 3.01 1.03 1.  ]
 [5.09 2.07 4.01 1.05 1.  ]
 [5.01 3.03 5.01 1.04 1.  ]
 [6.07 3.04 3.02 1.07 1.  ]
 [6.01 2.   4.02 1.02 1.  ]
 [6.09 2.04 5.02 2.04 1.  ]
 [7.   2.05 3.03 2.01 1.  ]
 [7.08 2.06 4.03 2.03 1.  ]
 [7.07 3.01 5.03 2.05 1.  ]
 [7.06 2.09 3.04 1.08 0.  ]
 [5.02 2.08 4.04 1.   0.  ]
 [5.01 3.   5.04 2.   0.  ]
 [5.03 2.07 3.05 2.02 0.  ]
 [5.   2.06 4.05 1.03 0.  ]
 [5.07 2.05 5.05 1.06 0.  ]
 [5.04 2.   3.06 1.08 0.  ]
 [5.06 2.04 4.06 1.09 0.  ]
 [5.09 3.08 5.06 1.01 0.  ]
 [5.08 3.09 3.07 1.02 0.  ]
 [6.   3.07 4.07 1.07 1.  ]
 [6.01 3.06 5.07 2.01 1.  ]
 [7.01 3.05 3.08 2.05 1.  ]
 [6.02 3.   4.08 2.02 1.  ]
 [7.02 2.01 5.08 2.04 1.  ]
 [6.03 2.   3.09 2.03 1.  ]
 [7.03 2.   4.09 1.   1.  ]
 [6.04 2.02 5.09 1.09 1.  ]
 [7.04 2.03 3.   1.01 1.  ]
 [6.05 3.06 4.   2.01 1.  ]
 [7.05 3.01 3.09 2.04 0.  ]
 [6.06 3.04 3.08 2.   0.  ]
 [7.07 3.05 3.07 1.03 0.  ]
 [5.01 3.   4.09 1.04 0.  ]
 [5.02 3.06 4.08 1.   0.  ]
 [6.   2.09 4.07 1.08 0.  ]
 [5.03 2.07 5.09 1.09 0.  ]
 [5.04 2.   5.08 1.07 0.  ]
 [5.05 2.07 5.07 1.06 0.  ]
 [5.06 2.04 3.06 2.05 0.  ]
 [7.   2.01 3.05 2.01 1.  ]
 [5.07 2.02 3.04 1.05 1.  ]
 [5.08 3.08 4.06 1.   1.  ]
 [5.09 3.07 4.05 2.   1.  ]
 [6.07 3.05 4.04 2.04 1.  ]
 [7.06 3.06 5.06 1.07 1.  ]
 [7.08 3.   5.05 1.01 1.  ]
 [6.08 2.04 5.04 1.04 1.  ]
 [7.09 3.09 3.03 2.02 1.  ]
 [6.09 3.08 3.02 1.05 1.  ]
 [7.   2.   3.01 1.06 0.  ]
 [6.01 2.01 3.   2.01 0.  ]
 [5.09 3.01 4.03 1.   0.  ]
 [7.08 2.02 4.02 2.   0.  ]
 [5.02 3.02 4.01 1.01 0.  ]
 [6.02 2.03 4.   2.01 0.  ]
 [7.07 3.03 5.03 1.02 0.  ]
 [5.07 2.04 5.02 2.02 0.  ]
 [6.06 3.04 5.01 1.03 0.  ]
 [5.   2.   5.   2.03 0.  ]
 [6.01 2.05 3.08 1.04 1.  ]
 [5.05 3.05 4.06 2.04 1.  ]
 [7.09 2.06 5.09 1.05 1.  ]
 [6.   3.06 3.04 2.05 1.  ]
 [7.05 2.07 4.03 1.06 1.  ]
 [6.07 3.07 4.08 1.08 1.  ]
 [5.04 3.   3.05 1.07 1.  ]
 [6.03 3.   3.   1.   1.  ]
 [5.   2.   4.07 2.   1.  ]
 [7.06 2.01 2.   1.09 1.  ]
 [6.08 2.   3.01 2.05 1.  ]]

In [11]:
# Membagi Dataset => 80 baris data untuk training dan 20 baris data untuk testing
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]),
                             axis=0)

In [12]:
print(dataTraining)
len(dataTraining)

[[5.   2.05 3.01 1.01 0.  ]
 [5.01 2.01 3.02 1.02 0.  ]
 [5.02 2.02 3.03 1.03 0.  ]
 [5.03 2.03 3.04 1.04 0.  ]
 [5.04 2.04 3.05 1.05 0.  ]
 [5.05 2.06 3.06 1.06 0.  ]
 [5.06 2.07 3.07 1.07 0.  ]
 [5.07 2.08 3.08 1.08 0.  ]
 [5.08 2.09 3.09 1.09 0.  ]
 [5.09 3.   3.   1.   1.  ]
 [6.   2.   4.01 2.   1.  ]
 [6.01 3.01 4.02 2.01 1.  ]
 [6.02 3.02 4.03 2.02 1.  ]
 [6.03 3.03 4.04 2.03 1.  ]
 [6.04 3.04 4.05 2.04 1.  ]
 [6.05 3.05 4.06 2.05 1.  ]
 [6.06 3.06 4.07 1.08 1.  ]
 [6.07 3.07 4.08 2.   1.  ]
 [6.08 3.08 4.09 1.07 1.  ]
 [6.09 3.09 4.   1.05 0.  ]
 [7.   3.   5.01 2.05 0.  ]
 [7.01 2.08 5.02 2.03 0.  ]
 [7.02 2.01 5.03 2.04 0.  ]
 [7.03 2.07 5.04 2.02 0.  ]
 [7.04 2.03 5.05 2.01 0.  ]
 [7.05 2.   5.06 1.07 0.  ]
 [7.06 3.07 5.07 1.01 0.  ]
 [7.07 3.01 5.08 1.02 0.  ]
 [7.08 3.05 5.09 1.09 0.  ]
 [7.09 2.03 5.   1.   1.  ]
 [5.02 2.09 3.01 1.03 1.  ]
 [5.09 2.07 4.01 1.05 1.  ]
 [5.01 3.03 5.01 1.04 1.  ]
 [6.07 3.04 3.02 1.07 1.  ]
 [6.01 2.   4.02 1.02 1.  ]
 [6.09 2.04 5.02 2.04 1.  ]
 [7.   2.05 3.03 2.01 1.  ]
 [7.08 2.06 4.03 2.03 1.  ]
 [7.07 3.01 5.03 2.05 1.  ]
 [7.06 2.09 3.04 1.08 0.  ]
 [6.01 3.06 5.07 2.01 1.  ]
 [7.01 3.05 3.08 2.05 1.  ]
 [6.02 3.   4.08 2.02 1.  ]
 [7.02 2.01 5.08 2.04 1.  ]
 [6.03 2.   3.09 2.03 1.  ]
 [7.03 2.   4.09 1.   1.  ]
 [6.04 2.02 5.09 1.09 1.  ]
 [7.04 2.03 3.   1.01 1.  ]
 [6.05 3.06 4.   2.01 1.  ]
 [7.05 3.01 3.09 2.04 0.  ]
 [6.06 3.04 3.08 2.   0.  ]
 [7.07 3.05 3.07 1.03 0.  ]
 [5.01 3.   4.09 1.04 0.  ]
 [5.02 3.06 4.08 1.   0.  ]
 [6.   2.09 4.07 1.08 0.  ]
 [5.03 2.07 5.09 1.09 0.  ]
 [5.04 2.   5.08 1.07 0.  ]
 [5.05 2.07 5.07 1.06 0.  ]
 [5.06 2.04 3.06 2.05 0.  ]
 [7.   2.01 3.05 2.01 1.  ]
 [5.07 2.02 3.04 1.05 1.  ]
 [5.08 3.08 4.06 1.   1.  ]
 [5.09 3.07 4.05 2.   1.  ]
 [6.07 3.05 4.04 2.04 1.  ]
 [7.06 3.06 5.06 1.07 1.  ]
 [7.08 3.   5.05 1.01 1.  ]
 [6.08 2.04 5.04 1.04 1.  ]
 [7.09 3.09 3.03 2.02 1.  ]
 [6.09 3.08 3.02 1.05 1.  ]
 [7.   2.   3.01 1.06 0.  ]
 [6.01 2.01 3.   2.01 0.  ]
 [5.09 3.01 4.03 1.   0.  ]
 [7.08 2.02 4.02 2.   0.  ]
 [5.02 3.02 4.01 1.01 0.  ]
 [6.02 2.03 4.   2.01 0.  ]
 [7.07 3.03 5.03 1.02 0.  ]
 [5.07 2.04 5.02 2.02 0.  ]
 [6.06 3.04 5.01 1.03 0.  ]
 [5.   2.   5.   2.03 0.  ]
 [6.01 2.05 3.08 1.04 1.  ]]

80

In [13]:
print(dataTesting)
len(dataTesting)

[[5.02 2.08 4.04 1.   0.  ]
 [5.01 3.   5.04 2.   0.  ]
 [5.03 2.07 3.05 2.02 0.  ]
 [5.   2.06 4.05 1.03 0.  ]
 [5.07 2.05 5.05 1.06 0.  ]
 [5.04 2.   3.06 1.08 0.  ]
 [5.06 2.04 4.06 1.09 0.  ]
 [5.09 3.08 5.06 1.01 0.  ]
 [5.08 3.09 3.07 1.02 0.  ]
 [6.   3.07 4.07 1.07 1.  ]
 [5.05 3.05 4.06 2.04 1.  ]
 [7.09 2.06 5.09 1.05 1.  ]
 [6.   3.06 3.04 2.05 1.  ]
 [7.05 2.07 4.03 1.06 1.  ]
 [6.07 3.07 4.08 1.08 1.  ]
 [5.04 3.   3.05 1.07 1.  ]
 [6.03 3.   3.   1.   1.  ]
 [5.   2.   4.07 2.   1.  ]
 [7.06 2.01 2.   1.09 1.  ]
 [6.08 2.   3.01 2.05 1.  ]]

20

In [14]:
# Memecah Dataset ke Input dan Label
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1.]

80

In [15]:
# Mendefinisikan Decision Tree Classifier
model = tree.DecisionTreeClassifier()

In [16]:
# Mentraining Model
model = model.fit(inputTraining, labelTraining)

In [17]:
# Memprediksi Input Data Testing
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Hasil Prediksi :  [0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 0.]

In [18]:
# Menghitung Akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar : 12 data
Prediksi Salah : 8 data
Akurasi : 60.0 %